@{
    ViewBag.Title = "BE Controls Demo";
}

<div class="jumbotron">
    <h4>Device Status</h4>
    <div>Device Name: @ViewBag.deviceName</div>
    <div>Device ID: @ViewBag.deviceID</div>
</div>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col" style="width: 20%">I/O</th>
            <th scope="col">Action</th>
            <th scope="col" style="width: 40%">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Sending to Cloud</th>
            <td></td>
            <td>
                @{
                    if (ViewBag.sendToCloud)
                    {
                        <span class="badge badge-pill badge-danger">on air</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-secondary">off air</span>
                    }
                }
                @ViewBag.sendToCloud
            </td>
        </tr>
        <tr>
            <th scope="row">Send to Cloud Switch</th>
            <td>
                <div class="badge badge-secondary">
                    @{
                        if (ViewBag.cloudStatus)
                        {
                            <span class="btn btn-info active">ON</span>
                            @Html.ActionLink("OFF", "SendToCloudOff", new { }, new { @class = "btn btn-secondary" })
                        }
                        else
                        {
                            @Html.ActionLink("ON", "SendToCloudOn", new { }, new { @class = "btn btn-secondary" })
                            <span class="btn btn-info active">OFF</span>
                        }
                    }
                </div>
            </td>
            <td>
                <div class="badge badge-pill badge-secondary">
                    @{
                        if (ViewBag.cloudStatus)
                        {
                            <span class="badge badge-pill badge-info">on</span>
                            <span class="badge badge-pill badge-secondary">off</span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-secondary">on</span>
                            <span class="badge badge-pill badge-info">off</span>
                        }
                    }
                </div>
                @ViewBag.cloudStatus
            </td>
        </tr>
        <tr>
            <th scope="row">Manual Switch</th>
            <td>
                (on board)
            </td>
            <td>
                <div class="badge badge-pill badge-secondary">
                    @{
                        if (ViewBag.manualStatus)
                        {
                            <span class="badge badge-pill badge-info">on</span>
                            <span class="badge badge-pill badge-secondary">off</span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-secondary">on</span>
                            <span class="badge badge-pill badge-info">off</span>
                        }
                    }
                </div>
                @ViewBag.manualStatus
            </td>
        </tr>
        <tr>
            <th scope="row">Photoresistor</th>
            <td></td>
            <td>
                @{
                    var currentLevel = (ViewBag.photoLevel / 4000m) * 100;
                }
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: @currentLevel%" aria-valuenow="@currentLevel" aria-valuemin="0" aria-valuemax="4000">@ViewBag.photoLevel</div>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">Light Level Sensor</th>
            <td></td>
            <td>
                @{
                    if (ViewBag.redStatus)
                    {
                        <span class="badge badge-pill badge-danger">on</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-secondary">off</span>
                    }
                }
                @ViewBag.redStatus
            </td>
        </tr>
        <tr>
            <th scope="row">Bright Light</th>
            <td>
                @{
                    if (ViewBag.lampStatus)
                    {
                        @Html.ActionLink("Turn lamp OFF", "ToggleLamp", new { }, new { @class = "btn btn-primary" })
                    }
                    else
                    {
                        @Html.ActionLink("Turn lamp ON", "ToggleLamp", new { }, new { @class = "btn btn-outline-primary" })
                    }
                }
            </td>
            <td>
                @{
                    if (ViewBag.lampStatus)
                    {
                        <span class="badge badge-pill badge-warning">on</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-secondary">off</span>
                    }
                }
                @ViewBag.lampStatus
            </td>
        </tr>
        <tr>
            <th scope="row">Flash LED</th>
            <td>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Duration in milliseconds" aria-label="FlashDuration">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="button" id="button-addon2">@Html.ActionLink("Flash", "FlashBlueLED")</button>

                    </div>
                </div>
            </td>
            <td>
                @{
                    if (ViewBag.blueStatus)
                    {
                        <span class="badge badge-pill badge-primary">on</span>
                    }
                    else
                    {
                        <span class="badge badge-pill badge-secondary">off</span>
                    }
                }
                @ViewBag.blueStatus
            </td>
        </tr>
    </tbody>
</table>
